@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 235, 84, 40;
  --background-end-rgb: 235, 84, 40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 235, 84, 40;
    --background-end-rgb: 235, 84, 40;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rbc-event,
.rbc-day-slot .rbc-background-event3 {
  background-color: rgb(var(--background-end-rgb)) !important;
  border-color: rgb(var(--background-end-rgb)) !important;
}

.rbc-ellipsis,
.rbc-show-more,
.rbc-row-segment .rbc-event-content,
.rbc-event-label {
  white-space: normal !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: rgb(var(--background-end-rgb)) !important;
  border-color: rgb(var(--background-end-rgb)) !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  background-color: #e5e7eb;
  border-radius: 0.3rem;
}

label[data-shrink='false']
  + .MuiInputBase-formControl
  .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  -webkit-opacity: 0;
}

.rbc-toolbar {
  font-size: 14px !important;
}

.rbc-agenda-view {
  font-size: 12px !important;
}

.rbc-month-header {
  font-size: 12px !important;
}

.react-datepicker__month-container {
  width: 350px;
}

.react-datepicker__header {
  height: 60px; 
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 40px;
  line-height: 40px; 
  margin: 1.5px;
}